/* root */
::selection {
  background: #FF0080 !important;
}

::moz-selection {
  background: #FF0080 !important;
}

code {
  color: #79FFE1 !important;
}

code::before{
  content: "`";
}

code::after {
  content: "`";
}
/* end root */

body {
  font-family: -apple-system, "Space Mono";
  background: #000;
  color: #fff;
}

/* Navbar */
nav {
  border-radius: 4px;
  color: aliceblue !important;
  background-color: rgba(0, 0, 0, 0.2) !important;
  z-index: 2;
  backdrop-filter: blur(10px) saturate(125%);
  -webkit-backdrop-filter: blur(10px) saturate(125%);
}

.logo h5 {
  font-weight: 700;
}
/* end navbar */

/* profile */
.profile {
  border-radius: 50%;
}
/* end profile */

/* footer */
.btn-footer::selection {
  background-color: #FF0080;
  color: #fff;
}

.btn-footer {
  text-decoration: none;
  color: #FF0080;
}

.btn-footer:hover {
  color: #fff;
}
/* end footer */