::selection {
  background: #50E3C2;
}

::moz-selection {
  background: #50E3C2;
}

body {
  font-family: -apple-system, "Inter";
  background: #000;
  color: #fff;
}

/* Navbar */
.nav {
  border-radius: 4px;
  color: aliceblue !important;
  background-color: rgba(0, 0, 0, 0.2) !important;
  z-index: 2;
  backdrop-filter: blur(10px) saturate(125%);
  -webkit-backdrop-filter: blur(10px) saturate(125%);
}
/* end navbar */